---
yaml-files:
  - "*.yaml"
  - "*.yml"
  - ".yamllint"

rules:
  anchors: enable
  braces: enable
  brackets: enable
  colons: enable
  commas: enable
  comments:
    level: warning
  comments-indentation:
    level: warning
  document-end: disable
  document-start:
    level: warning
  empty-lines: enable
  empty-values: disable
  float-values: disable
  hyphens: enable
  indentation: enable
  key-duplicates: enable
  key-ordering: disable
  line-length:
    max: 180
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: false
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: disable
  quoted-strings: disable
  trailing-spaces: enable
  truthy:
    level: warning
# ---
# extends: "default"
# rules:
#   comments: "enable"
#   empty-values: "enable"
#   indentation:
#     indent-sequences: "consistent"
#   line-length: "disable"
#   quoted-strings:
#     quote-type: "double"
ignore: |
  charts/*/templates/
  charts/nautobot/charts/*
